# Android
*.apk
*.ap_
*.dex
*.class
bin/
gen/
build/
.gradle/
local.properties
*.iml
*.iws
*.ipr
.idea/
*.keystore

# OS
.DS_Store
Thumbs.db

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar

# Logs
*.log
